html, body {
  height: 100%;
  width: 100%;
  background-color: #CEE3F6;
  font: #ffffff sans-serif;
  margin: 3%;
  padding: 0;
}
section{
  background-color: #EEF1F3
  padding: 1px;
  border: solid 1px #222222;
}
#photo{
  padding-left: 10%;
 width: 30%; 
}
nav{
  border: solid #000000 1px;
}