html, body {
  height: 100%;
  width: 100%;
  background-image: url('v915-techi-011.jpg'); /* Use url() to reference the image */
  background-size: cover; /* Makes the image cover the whole background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  font-family: sans-serif; /* Remove #ffffff as it's not valid for font-family */
  color: #000000;
  margin: 3%;
  padding: 0;
}
section{
  background-color: #EEF1F3
  padding: 1px;
}
#photo{
  padding-left: 0%;
 width: 10%; 
}
nav{
  border: solid #ffffff 1px;
}
.division_line{
  background-color: #ffffff;
  border: dotted 1px deepgrey;
  float: right;
  width: 100%;
  height: 3px;
  vertical-align: bottom;
}

#photo{
 display: inline-block;
 margin-left: -58px;
}
body>header>nav>ul>a:hover{
  color: #ffffff;
}
a:link{
  color: #ffa742;
}
a:link { color:#0011ff; }
a:visited { color:white;font-style: bold; }
a:hover { color:yellow; }
a:active { color:lightyellow; }
#about>ul{
  display: inline-block;
}
ul{
 padding-left: 0;
 margin-left: 0;
}

/* 기본 링크 스타일 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: #333; /* 링크 텍스트 색상 */
}

/* 호버 상태일 때의 스타일 */
a:hover {
    color: #ffe175; /* 호버 상태일 때의 링크 텍스트 색상 변경 */
}

/* 툴팁 스타일 */
.tooltip {
  position: absolute;
  background-color: #ff0000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}
